---
layout: default
title: Home
---
<h1>Projects</h1>
<div class="posts">
  {% for post in paginator.posts %}
    {% if post.category != 'blog' %}
    <article class="post">
      <h3 class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h3>

      <div class="metadata"><time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time> {% if post.projectlink %} &raquo; <a href="{{ post.projectlink }}">Source Code</a> {% endif %} </div>

      <div class="excerpt">{{ post.excerpt }}</div>
      <b><a class="read_more" href={% if post.swapurl %}"{{post.swapurl}}" {% else %} "{{ post.url }} {% endif %}">Read More!</a></b>
    </article>
    {% endif %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
