---
layout: default
title: Interview Questions
---

<h3>Programming Interview Question Examples:</h3>
<div class="posts">
  <ul class="categories">
    {% assign posts = site.interviewqs | sort: 'category' %}
    {% for post in posts %}
      {% if curCategory == null %} {% assign curCategory = post.category %}
        <li><h5>{{post.category}}</h5><ol> 
      {% endif %}
      {% if curCategory != post.category %}
        {% assign curCategory = post.category %}
        </ol></li>
        <li><h5>{{post.category}}</h5><ol>
      {% endif %}
      <li>
        <b>
          <a href="{{ site.interviewqs.relative_directory }}{{ post.url }}">
            {{ post.title }}
          </a>
        </b>
        <ul>
          <li><div class="metadata">{% if post.projectlink %} &raquo; <a href="{{ post.projectlink }}">Source Code</a> {% endif %} </div>

          <div class="excerpt">{{ post.excerpt }}</div></li>
        </ul>
        <!--<b><a class="read_more" href="{{ site.interviewqs.relative_directory }}{{ post.url }}">Read More!</a></b>-->
      </li>
    {% endfor %}
    </li>
    </ol>
    </ul>
</div>