// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(../images/bg-body.gif) repeat ;
  font: 14px Arial, Helvetica, Sans-Serif;
  color: #555555;
  margin: 0;
  padding: 0 0 30px 0;
  text-shadow:1px 1px 0 #FFFFFF;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: 38em) {
    font-size: 18px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: #268bd2;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

// Additions to poole stock

h1, h2, h3, h4, h5 {
  font-family: Arial, Helvetica, Sans-Serif;
  font-weight: bolder;
  color: #222222;
  padding: 0;
  margin: 0 0 5px 0;
  line-height: 1.5em;
}

p {
  line-height: 1.6em;
  padding: 0;
  margin: 0 0 15px 0;
  text-align:justify;
}

blockquote {
  line-height: 1.7em;
}

small {
  color: #666666;
}

//title
a.logo {
  background:url(images/logo.png) no-repeat ;
  display:block;
  margin: 0 0 0 0;
  padding: 0;
  height: 100px;
  width: 600px;
}

#titleheader_bg {
  height: 100px;
  text-align: center;
}

.nobr {
  whitespace: nowrap;
}

.experience > svg {
  display: inline;
  width: 5em;
  margin-bottom: 1em;
  margin-top: .9em;
}

.experience > p {
  font-size: 2em;
}

div.skill_list {
  margin-left: 1em;
  margin-top: 1em;
}

div.skill_list > div{
  display: inline;
  float: left;
  margin-right: 5em;
  text-align: center;
}

.progressbar-text {
  cursor: pointer;
}

.exp-context .has-contents {
    border: .01em solid black;
    padding: .5em;
}