#sidebar_container {
	float: right;
	width: 19em;
	border-left:1px solid #fff;
	border-right:1px solid #EEEEEE;
	overflow:hidden;
}

* html #sidebar_container {
	width: 19rem;
}

.sidebar_section {
	padding: .25em;
	margin-left: 1px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #D5D5D5;
	overflow: auto;
}

.sidebar_title {
	margin-botton: .5em;
}

.sidebar_title small{
	font-style: italic;
}

.sidebar_link {
	text-align: right;
	font-style: italic;
}

#sidebar_container img {
	max-width: 9em;
}

.right_column {
	margin-top: .5em;
	float: right;
	text-align: right;
	line-height: 1.7 em;
	margin-bottom: .1em;
}

.left_column {
	margin-top: .5em;
	float: left;
	text-align: left;
	line-height: 1.7em;
	margin-bottom: .1em;
	clear: left;
	font-weight: bolder;
}